.footer {
  background-color: $midnight-bkg-color;

  h2 {
    font-family: $montserrat;
    font-size: 2rem;
    font-weight: 400;
    color: $secondary-font-color;
    margin-bottom: 2rem;
  }

  span {
    color: $secondary-font-color;
  }
}
