.pancake-container {
  display: grid;
  grid-template-rows: 60px 1fr;
}

.header {
  background-color: #222f3e;
  color: #f6f8f8;
  display: flex;
  align-items: center;
}

.content-container {
  width: 98%;
  max-width: 768px;
  margin: 0 auto;
  padding: 3rem 0;
}

.pg-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container a,
.content-container a:visited,
.content-container a:active {
  color: #e67e22;
  text-decoration: none;
}

.main {
  background-color: #f7f7f7;
}

.title > *,
.content-info > * {
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 1.8rem;
}

.title img {
  width: 100%;
}

.content-info {
  line-height: 1.5rem;
}

.content-info h2 {
  font-size: 1.4rem;
}
