.navbar {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 1;
  color: #f6f8f8;
}

.navbar-container {
  /* border: 1px solid red; */
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  /* border: 1px solid red; */
  font-family: "Allura", cursive;
  font-size: 2.5rem;
}

.navbar__links {
  visibility: hidden;
}

@media screen and (min-width: 425px) {
  .navbar__links {
    /* border: 1px solid red; */
    visibility: visible;
    width: 12rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar__links li {
    /* border: 1px solid orange; */
    width: 100%;
    height: 100%;
  }

  .navbar__links li a {
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  .navbar__links li a:hover {
    background-color: #d8e1e367;
    transition: 250ms ease-in-out;
  }

  .navbar__links li a:active {
    color: inherit;
  }
  .navbar__links li a:visited {
    color: inherit;
  }
}
